*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:rgb(73, 70, 70);
    font-family: sans-serif;
    outline: none;
}
.container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color:rgb(172, 165, 165);
    padding:15px;
    border-radius: 30px;
    box-shadow:inset 5px 5px 12px #775252,
                     5px 5px 12px rgba(58, 48, 48, 0.16);
    display: grid;
    grid-template-columns: repeat(4,60px);
}
input{
    grid-column:span 4;
    height:50px;
    background-color:rgb(172, 165, 165);
    box-shadow:inset -5px -5px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0,.16);
    border:none;
    border-radius: 20px;
    color:rgb(15, 15, 15);
    font-size: 30px;
    text-align: end;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:13px;

}
button{
    height:45px;
    width:45px;
    background-color:rgb(172, 165, 165);
    border:none;
    box-shadow:inset 3px 3px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0,.16);
    border-radius: 14px;
    margin:8px;
    font-size: 16px;
}
.equal{
    width:106px;
}